<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @post.country %>
</p>

<p>
  <b>State:</b>
  <%= @post.state %>
</p>

<p>
  <b>Other:</b>
  <%= @post.other %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
